In [ ]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현 : [요소1, 요소2, 요소3, ...]

In [1]:
array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [2]:
array[0]

1

In [3]:
array[-1]

True

In [4]:
array[4]

IndexError: list index out of range

In [5]:
for item in array:
    print(item)

1
3.14
문자열
True

In [7]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때
# 리스트에서 최댓값과 최솟값, 평균, 분산을 출력
# (요소값 - 평균)^2 / 개수

a_list = [3.5, 10.3, 3.2, 7.8, 5.4]

In [8]:
list_max = max(a_list)
print(list_max)

10.3

In [9]:
max = float("-Inf")
for number in a_list:
    if number > max:
        max = number
max

10.3

In [10]:
list_min = min(a_list)
print(list_min)

3.2

In [13]:
min = float("Inf")
for number in a_list:
    if number < min:
        min = number
min

3.2

In [11]:
list_avg = sum(a_list) / len(a_list)
print(list_avg)

6.040000000000001

In [19]:
sum = 0
for number in a_list:
    sum += number
avg = round(sum / 5, 2)
avg

6.04

In [16]:
sum = 0
for number in a_list:
    sum += (number-list_avg)**2
dispersion = round(sum / len(a_list), 2)
dispersion

7.23

In [ ]:
# 리스트의 개수 구하기
# len() 내장 함수로 리스트의 길이를 구할 수 있음

In [18]:
len(a_list)

5

In [ ]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 리스트에 자료 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음

In [20]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [21]:
numbers.append(99)
numbers

[0, 1, 2, 3, 4, 99]

In [22]:
numbers.insert(0, -100)
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [23]:
numbers.extend([123, 312])
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 312]

In [ ]:
# 리스트에서 요소 삭제
# del 요소 : 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환하고 제거
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소값) : 지정한 요소값을 삭제(첫번째로 만난 요소만 제거)

In [24]:
del numbers[0]
numbers

[0, 1, 2, 3, 4, 99, 123, 312]

In [25]:
numbers.pop()

312

In [26]:
numbers

[0, 1, 2, 3, 4, 99, 123]

In [27]:
numbers.pop(2)

2

In [28]:
numbers

[0, 1, 3, 4, 99, 123]

In [29]:
numbers = [1, 1, 1, 2, 2, 3]

In [30]:
numbers

[1, 1, 1, 2, 2, 3]

In [31]:
numbers.remove(2)
numbers

[1, 1, 1, 2, 3]

In [ ]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스 요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환

In [32]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [36]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [39]:
names.append('한시우')

In [40]:
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [41]:
names.remove('최이서')
names

['김이준', '이서아', '박도윤', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [46]:
new_names = names[4:9]
new_names

['강아윤', '조은우', '윤지아', '장서준', '임하윤']